body, html{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
table{
    width: 30%;
    height: 33%;
    display: flex;
    justify-content: center;
}
.tables{
    border: 2px solid black;
    height: 100%;
}
.centered{
}